<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Error</title>
</head>
<body>
<div class="container text-center mt-5">
    <h1>Opps! An Error Occured</h1>
    <h3>Go to</h3>
    <a href="/company" class="btn btn-primary">My Company Profile</a>
    <a href="/visitor" class="btn btn-primary">Manage Visitors</a>
    <hr>
</div>
</body>
</html>